DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
DJANGO_TIMEZONE=Europe/Kiev
DJANGO_LANGUAGE_CODE=ru-ru
DJANGO_USE_SQLITE=false
DJANGO_SQLITE_PATH=db.sqlite3

POSTGRES_DB=tableos
POSTGRES_USER=tableos
POSTGRES_PASSWORD=tableos
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_URL=redis://localhost:6379/0
#REDIS_URL=redis://redis:6379/0 - its for docker-cpmpose local dev
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
CELERY_TASK_ALWAYS_EAGER=false
BOT_TOKEN_ENCRYPTION_KEY=change-this-to-a-32-byte-urlsafe-base64-key
DJANGO_ADMIN_USERNAME=admin
DJANGO_ADMIN_EMAIL=admin@tableos.local
DJANGO_ADMIN_PASSWORD=change-me
